
.container {
    width: 1000px;
    margin: 0 auto;
}

a{
    color:#0082ff;
}

/*#region 头部样式 */

.header {
    height: 70px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #202325;
}

.logo {
    width: 290px;
    height: 54px;
    margin: 8px 55px 0 16px;
    background: url('images/logo.png') top left no-repeat;
    text-indent: -9999px;
}

.top-menu-item {
    float: left;
    position: relative;
    z-index: 1;
    line-height: 22px;
    font-size: 16px;
}

.top-menu-item > a {
    display: block;
    color: #fff;
    padding: 25px 32px 20px;
}

.top-menu-item .icon-arrow-down {
    display: inline-block;
    margin-left: 6px;
    width: 13px;
    height: 8px;
    vertical-align: 1px;
    background: url('images/icon-down-md.png') center left no-repeat;
    transition: all .3s linear
}

.top-menu-item.has-dropdown:hover .icon-arrow-down {
    transform-origin: center 45%;
    transform: rotateX(180deg);
    background-image: url('images/icon-down-md-hov.png');
}

.top-menu-item:hover > a,
.top-menu-item.active > a {
    color: #1abde8;
}

.top-menu-dropdown {
    display: none;
    position: absolute;
    top: 67px;
    left: 0;
    width: 100%;
    background-color: #272b2e;
}

.top-menu-dropdown > a,
.user-downmenu-item > a {
    display: block;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    color: #979a9b;
    background-color: #272b2e;
}

.top-menu-dropdown > a:hover,
.top-menu-dropdown > a.active,
.user-downmenu-item > a:hover {
    background-color: #1abde8;
    color: #fff;
}

.top-menu-item.has-dropdown:hover .top-menu-dropdown,
.user-info:hover .user-downmenu {
    display: block;
    animation: slideDown .2s linear;
}

.top-menu-item.has-dropdown.active .icon-arrow-down {
    background-image: url('images/icon-down-md-hov.png');
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform-origin: 0 0;
        transform: scaleY(.8)
    }

    to {
        opacity: 1;
        transform-origin: 0 0;
        transform: scaleY(1)
    }
}


.user-info {
    position: relative;
    z-index: 1;
    margin-top: 28px;
    height: 14px;
    padding: 0 7px 0 9px;
    line-height: 14px;
}

.user-info > a {
    color: #fff;
    margin-left:20px;
}

.user-name {
    color: #fff;
    display: inline-block;
    width: 58px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

.top-operate {
    margin-top: 23px;
}

.top-operate > a {
    margin: 0 10px 0 20px;
    display: inline-block;
    line-height: 24px;
    color: #fff;
    padding-left: 16px;
}

.top-operate .login {
    background: url('images/icon-user.png') 0 center no-repeat;
}

.top-operate .reg {
    background: url('images/icon-reg.png') 0 center no-repeat;
}

/*#endregion */

.footer {
    box-sizing: border-box;
    height: 116px;
    padding-top: 31px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    background: url('images/footer.jpg') top repeat-x;
}
