/*！
*常规列表页面
*date:2017-09-26
*author: chengang;
*/
.form-row {
    margin-bottom: 10px;
    min-height: 30px;
    line-height: 30px;
}

.form-item > .lbl {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    height: 30px;
}

.form-item > .txt {
    width: 200px;
    height: 30px;
    border: 1px solid #d2d2d2;
    line-height: 30px;
    padding-left: 10px;
    transition: all linear 200ms;
    outline: none;
}

.info-table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

.info-table thead th {
    height: 38px;
    border: 1px solid #cdcdcd;
    background: -webkit-gradient(top, #f6f6f6, #e6e6e6);
    background: -webkit-linear-gradient(top, #f6f6f6, #e6e6e6);
    background: linear-gradient(top, #f6f6f6, #e6e6e6);
    background: -moz-linear-gradient(top, #f6f6f6, #e6e6e6);
    text-align: center;
    font-size: 16px;
}

.info-table tbody tr:nth-child(even) {
    background-color: #f6f6f6;
}

.info-table tbody tr:hover {
    background-color: #eef8fc;
}

.info-table tbody td {
    overflow: hidden;
    height: 36px;
    border: 1px solid #dddddd;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-table thead th.col01,
.info-table thead th.col02,
.info-table thead th.col03,
.info-table thead th.col04 {
    width: 70px;
}

.info-table thead th.col05,
.info-table thead th.col06 {
    width: 200px;
}

.info-table thead th.col08 {
    width: 100px;
}

.btnop {
    margin: 0 10px;
    color:#008aff;
}
.btn {
    display: inline-block;
    padding: 0 12px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #337ab7;
}

.btn.btn-search {
    background-color: #d9534f;
}

.btn.btn-search:hover {
    background-color: #c9302c;
}
