/*!
 * 弹出框
 * author: xiaolong;
 */

input[type="button"] {
    background: #ff6a00 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    padding: 0 15px;
}

.confirm-sub-title {
    font-size: 18px;
    line-height: 40px;
    color: #0a407b;
    padding: 0 0 0 20px;
    margin: 0;
}

.confirm-sub-content {
    font-size: 14px;
    line-height: 40px;
    color: #adb9ca;
    padding: 0 0 0 20px;
    margin: 0;
}

.layui-layer-input {
    width: 420px;
    height: 80px;
    border: 1px solid #ccc;
    outline: 0 none;
    padding: 10px;
    resize: none;
    margin: 0 20px;
}

.input {
	border: 1px solid #ccc;
}

.form,
.setdata {
	padding-left: 10px;
}