/* 评分星星 */
.score-pic {
    width: 97px;
    height: 16px;
    margin: 0 auto;
    background-image: url("images/scores.png");
    background-position: -100px center;
}

.score-1 {
    background-position: -80px center;
}

.score-2 {
    background-position: -60px center;
}

.score-3 {
    background-position: -40px center;
}

.score-4 {
    background-position: -20px center;
}

.score-5 {
    background-position: 0 center;
}


/* 表格通用样式 */

.list-content {
    padding-top: 17px;
}

.list-std {
    width: 100%;
    table-layout: fixed;
}

.list-std th,
.list-std td {
    border: 1px solid #e2e2e2;
}

.list-std th {
    height: 39px;
    background-color: #1abde8;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.list-std td {
    height: 34px;
    text-align: center;
}

.resource-title {
    display: block;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-indent: 13px;
    text-align: left;
}


/* 列表条件area */

.list-option-panel {
    margin-top: 10px;
    position: relative;
    padding: 0 63px 0 96px;
    border: 1px solid #e2e2e2;
    background-color: #f9f9f9;
    min-height: 40px;
    height: 40px;
    overflow: hidden;
}

.list-option-panel.expand {
    height: auto;
    overflow: visible;
}

.list-options {
    padding-bottom: 7px;
}

.list-option-item {
    float: left;
    position: relative;
    min-width: 30px;
    padding: 0 8px;
    height: 24px;
    margin-left: 12px;
    margin-top: 7px;
    border: 1px solid #cccccc;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    background-color: #fff;
}

.list-option-item:hover,
.list-option-item.active {
    border-color: #15b0d9;
}

.list-option-panel .name {
    position: absolute;
    top: 7px;
    left: 12px;
    width: 73px;
    height: 26px;
    background-color: #15b0d9;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.list-option-panel .btn-toggle {
    position: absolute;
    top: 7px;
    right: 23px;
    cursor: pointer;
    line-height: 26px;
    color: #1abde8;
}


/* 列表header-bar */

.m-container {
    overflow: hidden;
}

.m-pd {
    padding: 0 16px;
}

.list-header {
    height: 46px;
    border-bottom: 1px solid #15b0d9;
}

.list-header-title {
    float: left;
    min-width: 36px;
    padding: 6px 18px 0;
    margin-right: 28px;
    line-height: 38px;
    border-bottom: 2px solid #15b0d9;
    color: #1abde8;
    font-size: 18px;
    font-weight: bold;
}

.list-header-title.nopd {
    padding-left: 0;
    padding-right: 0;
}

.list-total {
    float: left;
    padding: 6px 0 0;
    line-height: 38px;
    font-size: 14px;
    color: #333;
}

.list-total>i {
    font-style: normal;
    color: #ff0000;
}

.search-bar {
    padding-top: 9px;
}

.sort-container {
    float: left;
    margin-right: 4px;
}

.sort-container .sort-select {
    width: 106px;
    height: 28px;
}

.search-input-container {
    float: left;
    width: 182px;
    height: 30px;
    margin-right: 4px;
    border: 1px solid #abbac5;
}

.search-input-container .input {
    float: left;
    padding-left: 10px;
    width: 147px;
    height: 28px;
    line-height: 28px;
    border: 0;
    font-size: 12px;
}

.search-input-container .input:focus {
    outline: 0;
}

.search-input-container .search-bar-icon {
    float: left;
    width: 25px;
    height: 28px;
    cursor: pointer;
    background: url('images/icon-search.png') left center no-repeat;
}

.btn-feedback {
    width: 60px;
    height: 26px;
    padding-left: 32px;
    line-height: 26px;
    font-size: 12px;
    color: #1abde8;
    background: url('images/icon-feed.png') 8px center no-repeat;
    border: 1px solid #85dcf3;
}

.m-title-container {
    margin: 13px 25px;
    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
    color: #1abde8;
    border-bottom: 1px solid #15B0D9;
}

.m-title {
    display: inline;
    padding-bottom: 6px;
    border-bottom: 3px solid #15B0D9;
}

.chosen-container {
    vertical-align: top;
}