@import "../common/index.scss";

@mixin h3-title{
  text-align: center;
  font-size: 32px;
  color: $dart-black;
  line-height: 90px;
}
.home {
  .home-left {
    width: 120px;
    
  }
  .menu {
    width: 100%;
    @include clear-fix;
    .item {
      width: 25%;
      float: left;
      
      padding: 20px 10px 10px 10px;
      .icon {
        width: 100% !important;
        padding-bottom: 100%;
        
        border-radius: 50%;

        background-color: #ccc;
        
        cursor: pointer;
        
        background-position: center;
        background-repeat:no-repeat;
        background-size: 25% auto;

        &:hover {
          box-shadow: 0 0 10px 2px rgba(0,0,0,.3);
        }
        &.auto {
          background-image: url('../../imgages/auto.png');
          background-size: 50% 50%;
          background-color: #f60;
        }
        &.serve {
          background-image: url('../../imgages/steps.png');
          background-color: #ffc500;
        }
        &.config {
          background-image: url('../../imgages/config.png');
          background-size: 50% 50%;
          background-color: #333;
        }
        &.update {
            background-image: url('../../imgages/update.png');
            background-size: 50% 50%;
            background-color: #12dbad;
            
        }
        &.use {
            background-image: url('../../imgages/use.png');
            background-size: 50% 50%;
            background-color: #f7b40a;
        }
      }
      .circle-icon {
          height: 1px !important;
          cursor: default;
          &:hover {
            box-shadow:none;
          }
      }
      p {
        padding: 5px 0;
        font-size: 16px;
        text-align:center;
        
        color: #2196f3;
      }
      .check-word {
          font-size: 12px;
      }
    }
  }
}
