@import "./common/_preset.scss";
@import "./common/index.scss";
#app{
  height: 100%;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
	border-radius:10px;
}