/*！
*首页
*date:2017-10-09
*author: chengang;
*/
.doc {
    margin: 0 auto;
    padding: 20px 0 ;
    line-height: 1.7;
    font-size: 16px;

}

.doc > h2 {
    font-size: 30px;
    line-height: 1.1;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 16px;
}

.doc > p {
    margin: 0 0 10px;
}

.doc li {
}
